*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landingPage{
    background-color: rgba(0, 0, 0, .6);
}

body{
    background-image: url(./images/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gmap_canvas{
    height: 80vh;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
label{
color: beige;
}
.fa-icons {
	font-size: 2rem;
}